<aside id="sidebar-multi-level-sidebar" class="fixed top-0 left-0 z-40 md:w-52 sm:w-24 h-screen" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-brown-primary dark:bg-gray-800 mt-14">
    <ul class="space-y-2 font-medium">
      <li>
        <a (click)="logout()"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white cursor-pointer group">
          <svg
          class="w-5 h-5 text-white transition duration-75"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
          </svg>
          <span class="ml-3 text-white">Sair</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
